// colors
$primarycolor400: hsl(233, 47%, 7%);
$primarycolor300: hsl(244, 38%, 16%);
$primarycolor200: hsl(277, 64%, 61%);
$neutralcolor600: hsl(0, 0%, 100%);
$neutralcolor300: hsla(0, 0%, 100%, 0.75);
$neutralcolor500: hsla(0, 0%, 100%, 0.6);

// font size
$fs300: 1rem;

// breakpoints
$desktop-breakpoint: 62.5rem;
